<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Brad Moore</string>
	<key>Builder Version</key>
	<string>12603.2.4</string>
	<key>CFBundleDisplayName</key>
	<string>Trello Card Numbers</string>
	<key>CFBundleIdentifier</key>
	<string>com.x4pilabs.trello-card-numbers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>trello-card-numbers.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Safari port of dewyzes Trello Card Numbers chrome extension</string>
	<key>DeveloperIdentifier</key>
	<string>M6VHSGF8XH</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>trello.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
